h3{
    text-align: center;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    text-decoration: underline;
}
.przycisk{
    color:white;
    background-color: rgb(49, 131, 131);
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: center;
    height:100px;
    width: 100px;
}

h2{
    text-align: center;
}
h4{
    text-align: center;
}
.wyniki{
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}
.ustawienie{
    margin-left: 38.5%;
}

.przycisk:hover{
    background-color: rgb(35, 167, 167);
    transform: scale(1.05);
    transition: background-color 0.5s ease, transform 0.5s ease;
}